<!-- Generated template for the InParagrafoComponent component -->
<div>
  {{text}}
</div>
<label>Input</label>
<input type="text" [(ngModel)]="valorInput" placeholder="placeholder" />

<p>{{valorInput}}</p>
